annotated-types==0.7.0
anyio==4.14.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
elevenlabs==2.53.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
numpy==2.4.6
PyAudio==0.2.14
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
requests==2.34.2
setuptools==82.0.1
sounddevice==0.5.5
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
webrtcvad==2.0.10
webrtcvad-wheels==2.0.14
websockets==16.0
